#praktiki-print-tool
    md-outlined-select(label="Resource")
        md-select-option(value="freeform"): div(slot="headline") Freeform
        md-select-option(value="instructions"): div(slot="headline") Home Instructions
        md-select-option(value="records"): div(slot="headline") Records Release
        md-select-option(value="superbill"): div(slot="headline") Superbill
        md-select-option(value="review"): div(slot="headline") Wellness Review
        md-select-option(value="excuse"): div(slot="headline") Work/School Excuse
    md-filled-icon-button(aria-label="print resource"): md-icon print
    md-outlined-icon-button(aria-label="send resource", disabled): md-icon send
    md-dialog
        md-icon(slot="icon") edit_square
        span(slot="headline")
            md-icon-button(form="form", value="close", aria-label="close dialog"): md-icon close
        form#praktiki-print-document-editor(slot="content")
        span(slot="actions")
            md-icon-button(title="save to AXIS", aria-label="save to AXIS", toggle)
                md-icon cloud_upload
                md-icon(slot="selected") cloud_done
            md-filled-tonal-button(form="praktiki-print-document-editor", value="close", autofocus) Print