#praktiki-performance
    table#daily-huddle
    table#daily-dc-performance
        thead: tr
            th DC
            th Visits
            th New Patients
            th Prospects
            th Tasks
    table#daily-wc-performance
        thead: tr
            th WC
            th Sales
            th Conversions
            th Tasks
    md-filled-tonal-button Generate End-of-Date Report

