#summary
    md-outlined-text-field(label="First Name")
    md-outlined-text-field(label="Last Name")
    md-outlined-text-field(label="Date of Birth")
    md-outlined-text-field(label="Age", type="number")
    md-outlined-select(label="sex", name="patient-sex")
        md-select-option(value="male"): div(slot="headline") Male
        md-select-option(value="female"): div(slot="headline") Female
    md-outlined-text-field(label="Occupation")
    md-outlined-text-field(label="Email")
    md-outlined-text-field(label="Phone")
    #flags
        each flag in ["NEW","MEP","ABN","FORMS","EXAM","MINOR","MILITARY","PAY"]
            div(id=`axis-flag-${flag.toLowerCase()}`, class="display-none")= flag

