#praktiki-utilities
    md-icon-button(title="reconnect front office", aria-label="reconnect front office"): md-icon cloud
    md-icon-button(title="bug report", aria-label="bug report", data-badge=1): md-icon bug_report
    md-icon-button(title="help", aria-label="help"): md-icon help
    md-icon-button(title="settings", aria-label="settings"): md-icon settings
    md-dialog
        md-icon(slot="icon") cloud_off
        span(slot="headline") AXIS Timed-out
        form#axis-login(slot="content", method="dialog")
            md-outlined-text-field(label="username", type="text", autocomplete="username")
            md-outlined-text-field(label="password", type="password", autocomplete="current-password")
        span(slot="actions")
            md-text-button(form="axis-login", value="cancel") Cancel
            md-filled-button(form="axis-login", value="reconnect", autofocus) Reconnect