#praktiki-utilities
    md-icon-button.md-badge(title="bug report", aria-label="bug report", data-badge=1): md-icon bug_report
    md-icon-button(title="help", aria-label="help"): md-icon help
    md-icon-button(title="settings", aria-label="settings"): md-icon settings