include _utilities
#praktiki-contact
    ul#drop-zone
    md-tabs
        md-primary-tab#resources-tab(aria-controls="resources-panel") Resources
        md-primary-tab#communication-tab(aria-controls="communication-panel") Communication
    #resources-panel(role="tabpanel", aria-labeledby="resources-tab")
            include _print
    #communication-panel(role="tabpanel", aria-labeledby="communication-tab", hidden)
