@use "sass:map";
@use "../../node_modules/@material/web/tokens/md-sys-typescale" as tokens;
@use "../../node_modules/@material/web/typography/typescale" as typescale;

// font-face declarations (extension compatible)
@font-face {
    font-family: "Roboto";
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/roboto.woff2") format("woff2");
}
@font-face {
    font-family: "Material Symbols";
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/material-symbols.woff2") format("woff2");
}

// md default typescale variables
:root, :host{
    @include typescale.theme(tokens.values());
}
// md customized typescale variables
:root, :host {
    --md-ref-typeface-brand: "Roboto", system-ui, sans-serif;
    --md-ref-typeface-plain: "system-ui", sans-serif;
    --md-icon-font: "Material Symbols";
}

body{
    font-family: var(--md-ref-typeface-plain);
}