// material (must be listed first)
@use "_theme.scss";
@use "_typeface.scss" as type;
@use "_motion.scss";

// material modifications

md-outlined-select{
    margin-top: 0.25rem;    
}

// material badge implementation

.md-badge {
    position: relative;
    &::after {
        content: attr(data-badge);
        position: absolute;
        top: -10px;
        right: -10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--md-sys-color-error);
        color: var(--md-sys-color-on-error);
        font-size: 12px;
        font-weight: bold;
        padding: 4px;
        border-radius: 8px;
        min-width: 16px;
        max-width: 34px;
        height: 16px;
    }
    &[data-badge=""]::after,
    &:not(:has([data-badge]))::after {
        display: none;
    }
}

// material check list implementation

.md-check-list {
    display: flex;
    flex-direction: column;
    align-items: left;
    label {
        flex: 1;
    }
}

// material radio list implementation

.md-radio-list {
    display: grid;
    grid-template-columns: auto 1fr;
    md-radio,
    md-check-box {
        grid-column: 1 / 2;
    }
    label {
        grid-column: 2 / 3;
    }
}

// material snack bar implementation

.md-snack-bar {
    padding: 8px;
    .headline {
        flex: 1;
        order: 1;
        @include type.set-type("label-small");
    }
    md-text-button {
        order: 2
    }
    md-icon-button {
        order: 3;
    }
}

// core ui variables

:root {
    --praktiki-sheet-inset: 16px;
    --praktiki-sheet-padding: 24px;
    --praktiki-sheet-border-radius: 16px;
    --praktiki-side-sheet-open-width: 400px;
    --praktiki-side-sheet-collapsed-width: 56px;
    --praktiki-bottom-sheet-max-width: 640px;
    --praktiki-bottom-sheet-collapsed-height: 48px;
}

body{
    // avoid header overlap in front office
    &:has(#sugarcrm){
        --praktiki-side-sheet-offset-top: calc(40px + var(--praktiki-sheet-inset));
    }
    // avoid header overlap in back office
    &:has(#app){
        --praktiki-side-sheet-offset-top: calc(76px + var(--praktiki-sheet-inset));
    }
}

// utility classes

.display-none {
    display: none;
}

// utility functions

@function zIndex($i) {
    @return 2000 + $i;
}

// front-office modifications

#content {
    right: var(--praktiki-side-sheet-collapsed-width);
    // adjust header size independently
    .headerpane{
        width: calc(100vw - 3.75rem - var(--praktiki-side-sheet-collapsed-width));
    }
    // adjust fab position independently
    div:has( > .dfab-icon){
        right: var(--praktiki-side-sheet-collapsed-width);
    }
}


// back office modifications

#app main { 
    &:has(#patientName){
        margin-bottom: var(--praktiki-bottom-sheet-collapsed-width);
    }
    &:not(:has(#patientName)){
        margin-right: var(--praktiki-side-sheet-collapsed-width);
    }
}

// praktiki side sheet

#praktiki-side-sheet {

    display: block;
    position: fixed;
    inset: var(--praktiki-sheet-inset) var(--praktiki-sheet-inset) var(--praktiki-sheet-inset) auto;
    padding: var(--praktiki-sheet-padding);
    box-sizing: border-box;
    border-radius: var(--praktiki-sheet-border-radius);
    transition: width var(--md-sys-motion-duration-medium-1) var(--md-sys-motion-easing-standard);

    header{
        display: flex;
        flex-direction: row;
        justify-items: left;
        align-items: center;
        margin-bottom: 8px;
        .headline {
            @include type.set-type("headline-small");
        }
        md-icon-button.state-toggle {
            margin-left: auto;
        }
    }

    &[data-state=open]{
        width: var(--praktiki-side-sheet-open-width);
    }
    &[data-state=collapsed]{
        width: var(--praktiki-side-sheet-collapsed-width);
        header{
            justify-items: center;
            .headline {
                display: none;
            }
            md-icon-button.state-toggle {
                margin: 0;
            }
        }
    }
}

// praktiki bottom sheet

#prakitki-bottom-sheet {

    display: block;
    position: fixed;
    inset: auto auto var(--praktiki-sheet-inset) 50%;
    width: var(--praktiki-bottom-sheet-max-width);
    translate: -50%;
    padding: var(--praktiki-sheet-padding);
    box-sizing: border-box;
    border-radius: var(--praktiki-sheet-border-radius);
    background-color: var(--md-sys-color-background);
    transition: height var(--md-sys-motion-duration-medium-1) var(--md-sys-motion-easing-standard);

    header{
        display: flex;
        position: relative;
        width: 100%;
        flex-direction: row;
        align-items: center;
        margin-bottom: 8px;
        .headline {
            @include type.set-type("headline-small");
        }
        md-icon-button.state-toggle {
            margin-left: auto;
        }
        &::before{
            position: absolute;
            inset: 0 auto auto 50%;
            translate: -50%;
            @include type.use-icon();
            content: "drag_handle" / "";
        }
    }
    
    &[data-state=open]{
        height: 80svh;
    }
    &[data-state=collapsed]{
        height: var(--praktiki-bottom-sheet-collapsed-height);
    }
}

// praktiki utilities

#praktiki-utilities{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 8px;
}

// praktiki contact

#praktiki-contact {
    display: grid;
    grid-template-areas: 
        "dropzone"
        "navigation"
        "tablist"
        "tabpanels";
    align-items: stretch;

    #contact-drop-zone {
        grid-area: "dropzone";
        display: grid;
        grid-template-areas:
            "photo summary summary"
            "flags flags flags";
        padding: 4px;
        border: 1px dashed var(--md-sys-color-on-background);
        border-radius: 8px;

        .photo {
            grid-area: "photo";
        }

        .summary {
            grid-area: "summary";
        }

        .flags {
            grid-area: "flags";
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        &:empty {
            &::after {
                content: "drag and drop to select";
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                translate: -50% -50%;
            }
        }
    }

    #contact-primary-navigation {
        grid-area: "navigation";
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    #contact-primary-tabs{
        grid-area: "tablist";
    }

    [id$=panel] {
        grid-area: "tabpanels";
    }
}

#praktiki-contact--collapsed-view {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#praktiki-utilities {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

#praktiki-print {
    
    .print-document-generator{
        display: flex;
        flex-direction: row;
        align-items: stretch;
        .selector {
            display: flex;
            flex-direction: row;
            align-items: center;
            md-outlined-select {
                flex: 1;
            }
        }
        .option {
            & > div {
                width: 100%;
                .description {
                    width: 100%;
                    text-wrap: pretty;
                }
            }
            &-superbill {
                .modifiers {
                    display: flex;
                    flex-direction: column;
                    fieldset{
                        width: 100%;
                    }
                }
            }
            &-excuse {
                .modifiers {
                    display: grid;
                    grid-template-areas: 
                        "startLabel" "endLabel"
                        "startInput" "endInput"
                        "chipset" "chipset";
                    label[for=superbill-range-start-date] {
                        grid-area: "startLabel";
                    }
                    #superbill-range-start-date {
                        grid-area: "startInput";
                    }
                    label[for=superbill-range-end-date] {
                        grid-area: "endLabel";
                    }
                    #superbill-range-end-date {
                        grid-area: "endInput";
                    }
                    md-chip-set{
                        grid-area: "chipset";
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                    }
                }
            }
        }
    }
    .print-resource-selector {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .selector {
            align-self: stretch;
            display: flex;
            flex-direction: row;
            align-items: center;
            md-filled-icon-button{
                margin-left: auto;
            }
        }
        .print-resource {
            flex: 1;
        }
    }

    #print-document-editor {
        transform: scale(0.6);
    }
}

#print-document-editor {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(1in/16in);

    .page {

        --page-width: 8.5in;
        --page-height: 11in;
        --page-padding: 0.5in;
        --page-header-height: calc(11in/16in);
        --page-body-max-height: calc(var(--page-height) - var(--page-padding) * 2);
        --page-body-height: calc(var(--page-body-max-height) - var(--page-header-height));

        display: block;
        position: relative;
        box-sizing: border-box;
        width: var(--page-width);
        height: var(--page-height);
        padding: var(--page-padding);
        font-size: calc(12in/76in);
        background-color: #fff;
        color: #000;
        .head {
            position: relative;
            height: var(--page-header-height);
            display: grid;
            grid-template-columns: 1fr calc(19in/16in);
            grid-template-rows: 1fr calc(1in/4in);
            .topline {
                grid-row: 1 / 2;
                grid-column: 1 / 2;
                justify-self: start;
                align-self: start;
            }
            .title {
                grid-row: 2 / 3;
                grid-column: 1 / 2;
                justify-self: start;
                align-self: end;
                background-color: #000;
                color: #fff;
            }
            .logo {
                grid-row: 1 / 3;
                grid-column: 2 / 3;
                justify-self: end;
                align-self: center;
            }
        }
        .body {
            display: block;
            position: relative;
            overflow: hidden; 
        }
        @for $i from 1 to 8 {
            &[data-page-number="#{$i}"]{
                .body {
                    @if $i == 1 {
                        height: var(--page-body-height);
                    } @else {
                        height: (--page-body-max-height);
                    }
                    .content {
                        @if $i > 2 {
                            translate: 0 calc(($i - 1) * var(--page-body-height) + ($i - 2) * var(--page-header-height));
                        } @else {
                            translate: 0 calc(($i - 1) * var(--page-body-height));
                        }
                    }
                    &::after{
                        content: "Page #{$i}";
                        position: absolute;
                        inset: auto 0 0 auto;
                        translate: 0 -100%;
                        @include type.set-type("label-small");
                    }
                }
            }
        }
        .foot {
            position: absolute;
            inset: var(--page-body-max-height) 0 auto 0;
            display: flex;
            flex-direction: row;
            align-items: start;
            justify-items: start;
        }
    }
}

#praktiki-carbon {
    #carbon {
        &-call {
            display: flex;
            flex-direction: row;
            align-items: center;
            md-icon-button {
                margin-left: auto;
            }
        }

        &-conversation {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4px;
            .message{
                position: relative;
                max-width: 80%;
                padding: 8px;
                border-radius: 4px;
                text-wrap: pretty;
                &.sent{
                    align-self: end;
                    border-bottom-right-radius: 0;
                    background-color: var(--md-sys-color-primary);
                    color: var(--md-sys-color-on-primary);
                }
                &.received {
                    align-self: start;
                    border-bottom-left-radius: 0;
                    background-color: var(--md-sys-color-surface);
                    color: var(--md-sys-color-on-surface);
                }
            }
        }

        &-message {
            display: flex;
            flex-direction: row;
            align-items: start;
            md-text-field {
                flex: 1;
            }
        }
    }

    #carbon{
        &-disconnected {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &-connect {
            display: grid;
            position: relative;
            grid-template-columns: 1fr 1fr;
            padding: 8px;
            gap: 24px;

            md-linear-progress {
                position: absolute;
                inset: 0 0 auto 0;
            }

            .login-card {
                display: flex;
                flex-direction: row;
                align-items: stretch;
                min-height: 425px;

                .logo{
                    position: relative;
                    height: calc(198px / 1.5);
                    width: calc(425px / 1.5);
                    overflow: hidden;
                    border: 1px solid var(--md-sys-color-on-background);
                    border-radius: 4px;

                    img {
                        width: 100%;
                        position: absolute;
                        inset: 50% 0 0 50%;
                        translate: -50% -50%;
                    }
                }
            }
            :last-child{
                position: relative;
                &::before {
                    content: "join";
                    position: absolute;
                    inset: 50% auto auto 0;
                    translate: -100% -50%;
                    @include type.use-icon();
                }
            }
        }
    }
}

#praktiki-product {
    #plan-details {
        .product {

        }
        .rate {

        }
        .flags {

        }
        .usage {
            &--graph {

            }
            &--visits-per-cycle {

            }
            &--cost-per-visit {

            }
        }
    }
    #visit-history {

    }
}

#praktiki-report {

}

#praktiki-visit {
    display: grid;
    grid-template-areas:
        "shortcuts contact"
        "tablist contact"
        "tabpanels contact";
    #visit-shortcuts {
        grid-area: "shortcuts";
    }
    #visit-primary-tabs {
        grid-area: "tablist";
    }
    [id$=panel] {
        grid-area: "tabpanels";
    }
    #visit-current-panel {
        
    }
    #visit-previous-panel {

    }
    #visit-exam-panel {

    }
    #praktiki-contact {
        grid-area: "contact";
    }
}