// material (must be listed first)
@use "_theme.scss";
@use "_typeface.scss";

// material modifications

md-outlined-select{
    margin-top: 0.25rem;    
}

// praktiki variables

:root {
    --praktiki-side-sheet-width: 22rem;
}

// utility classes

.display-none {
    display: none;
}

// axis modifications
@media screen and (min-width: 800px){
    #app {
        display: grid;
        grid-template-rows: auto 1fr;
        min-height: 100svh;
        main{
            margin-top: 0 !important;
            padding-bottom: 0 !important;
            .container-fluid{
                height: 100%;
                overflow: hidden;
                .row {
                    &.justify-content-center{
                        justify-content: start !important;
                    }
                    height: 100%;
                    .col-md-10 {
                        width: calc(100% - var(--praktiki-side-sheet-width));
                        padding-top: 1rem;
                        container-type: inline-size;
                    }
                    .col-md-2 {
                        padding: 0;
                        #last-treatment,
                        #last-treatmant{
                            display: none;
                        }
                    }
                }
            }
        }
    }

    @container (max-width: 800px){
        #app main .container-fluid .row .col-md-10 table tr {
            :nth-child(2),
            :nth-child(7),
            :nth-child(8){
                display: none;
            }
        }
    }

    // praktiki core components

    #praktiki-side-sheet {
        z-index: calc(var(--bs-modal-zindex) + 100);
        flex: 1;
        height: 100%;
        width: var(--praktiki-side-sheet-width);
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 0.25em 0.75em 0 0.75em;
        // gap: 0.5em;
        border-left: 0.0625rem solid var(--md-sys-color-on-background);
        background-color: var(--md-sys-color-background);
    }

    #praktiki-utilities {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        md-icon-button{
            position: relative;
            aspect-ratio: 1/1;
            &[data-badge]{
                &::after{
                    content: attr(data-badge);
                    position: absolute;
                    inset: 0 0 auto auto;
                    transform: translate(15%, -15%); 
                    z-index: 10; 
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    min-width: 1rem; 
                    height: 1rem;
                    padding: 0 0.25rem; 
                    border-radius: 0.5625rem;
                    font-family: var(--md-ref-typeface-plain);
                    font-size: 0.6875rem; 
                    font-weight: 500;
                    line-height: 1;
                    text-align: center;
                    white-space: nowrap;
                    background-color: var(--md-sys-color-error);
                    color: var(--md-sys-color-on-error);
                }
            }
        }
        form {
            display: flex;
        }
    }

    #praktiki-contact {
        width: 100%;
        ul#drop-zone{
            position: relative;
            border: 0.1em dashed var(--md-sys-color-on-surface-variant);
            border-radius: 1em;
            height: 2.5lh;
            width: 100%;
            margin: 0.125rem 0;
            display: flex;
            flex: row;
            align-items: center;
            padding: 0.5rem;
            gap: 0.5rem;
            &::after{
                content: "drag a patient here";
                display: block;
                position: absolute;
                inset: 50% auto auto 50%;
                translate: -50% -50%;
            }
            &:has(li){
                &::after{
                    display: none;
                }
            }
            li{
                
            }
        }
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
        }
    }

    #praktiki-print-tool{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.5rem 0 0 0;
        gap: 0.5em;
        md-outlined-select{
            flex: 1;
        }
    }
}

@media screen and (max-width: 800px) {
    #praktiki-side-sheet {
        display: none;
    }
}